@model IEnumerable<HotelSystem.Models.Livein>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Money)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Days)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator.OperatorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.State)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InNo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InNo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InNo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
