@model HotelSystem.Models.Roominfo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Roominfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Statetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Statetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type.ClRoom)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
