@model IEnumerable<HotelSystem.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">添加数据</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CredentialType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreadentialNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CredentialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreadentialNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
